## DASK

In [1]:
import dask 
import dask.dataframe as dd
import dask.array as da

In [2]:
%time df = dd.read_csv('datasets\\BF_train.csv')

Wall time: 495 ms

In [3]:
df.head()

,User_ID,Product_ID,Gender,Age,Occupation,City_Category,Stay_In_Current_City_Years,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
0,1000001,P00069042,F,0-17,10,A,2,0,3,NaN,NaN,8370
1,1000001,P00248942,F,0-17,10,A,2,0,1,6.0,14.0,15200
2,1000001,P00087842,F,0-17,10,A,2,0,12,NaN,NaN,1422
3,1000001,P00085442,F,0-17,10,A,2,0,12,14.0,NaN,1057
4,1000002,P00285442,M,55+,16,C,4+,0,8,NaN,NaN,7969

## Data Exploration

In [4]:
df.isnull().sum().compute()/(len(df))

User_ID                       0.000000
Product_ID                    0.000000
Gender                        0.000000
Age                           0.000000
Occupation                    0.000000
City_Category                 0.000000
Stay_In_Current_City_Years    0.000000
Marital_Status                0.000000
Product_Category_1            0.000000
Product_Category_2            0.315666
Product_Category_3            0.696727
Purchase                      0.000000
dtype: float64

In [5]:
df.describe().compute()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase
count,5.500680e+05,550068.000000,550068.000000,550068.000000,376430.000000,166821.000000,550068.000000
mean,1.003029e+06,8.076707,0.409653,5.404270,9.842329,12.668243,9263.968713
std,1.727592e+03,6.522660,0.491770,3.936211,5.086590,4.125338,5023.065394
min,1.000001e+06,0.000000,0.000000,1.000000,2.000000,3.000000,12.000000
25%,1.001516e+06,2.000000,0.000000,1.000000,5.000000,9.000000,5823.000000
50%,1.003077e+06,7.000000,0.000000,5.000000,9.000000,14.000000,8047.000000
75%,1.004478e+06,14.000000,1.000000,8.000000,15.000000,16.000000,12054.000000
max,1.006040e+06,20.000000,1.000000,20.000000,18.000000,18.000000,23961.000000

In [6]:
df.dtypes

User_ID                         int64
Product_ID                     object
Gender                         object
Age                            object
Occupation                      int64
City_Category                  object
Stay_In_Current_City_Years     object
Marital_Status                  int64
Product_Category_1              int64
Product_Category_2            float64
Product_Category_3            float64
Purchase                        int64
dtype: object

In [7]:
len(df), len(df.columns)

(550068, 12)

In [8]:
df = df.drop(['Product_ID'], axis=1)

## Data Preprocessing

In [9]:
df = dd.get_dummies(df.categorize()).compute()

In [10]:
df.head()

,User_ID,Occupation,Marital_Status,Product_Category_1,Product_Category_2,Product_Category_3,Purchase,Gender_F,Gender_M,Age_0-17,...,Age_36-45,Age_18-25,City_Category_A,City_Category_C,City_Category_B,Stay_In_Current_City_Years_2,Stay_In_Current_City_Years_4+,Stay_In_Current_City_Years_3,Stay_In_Current_City_Years_1,Stay_In_Current_City_Years_0
0,1000001,10,0,3,NaN,NaN,8370,1,0,1,...,0,0,1,0,0,1,0,0,0,0
1,1000001,10,0,1,6.0,14.0,15200,1,0,1,...,0,0,1,0,0,1,0,0,0,0
2,1000001,10,0,12,NaN,NaN,1422,1,0,1,...,0,0,1,0,0,1,0,0,0,0
3,1000001,10,0,12,14.0,NaN,1057,1,0,1,...,0,0,1,0,0,1,0,0,0,0
4,1000002,16,0,8,NaN,NaN,7969,0,1,0,...,0,0,0,1,0,0,1,0,0,0

In [11]:
df = df.fillna(value=0)

In [12]:
df.isnull().sum()

User_ID                          0
Occupation                       0
Marital_Status                   0
Product_Category_1               0
Product_Category_2               0
Product_Category_3               0
Purchase                         0
Gender_F                         0
Gender_M                         0
Age_0-17                         0
Age_55+                          0
Age_26-35                        0
Age_46-50                        0
Age_51-55                        0
Age_36-45                        0
Age_18-25                        0
City_Category_A                  0
City_Category_C                  0
City_Category_B                  0
Stay_In_Current_City_Years_2     0
Stay_In_Current_City_Years_4+    0
Stay_In_Current_City_Years_3     0
Stay_In_Current_City_Years_1     0
Stay_In_Current_City_Years_0     0
dtype: int64

In [13]:
x = df[['Occupation', 'Marital_Status', 'Product_Category_1','Gender_F','Product_Category_2', 'Product_Category_3',
        'Gender_M', 'Age_0-17', 'Age_55+', 'Age_26-35', 'Age_46-50', 'Age_51-55', 'Age_36-45', 'Age_18-25', 
        'City_Category_A','City_Category_C', 'City_Category_B', 'Stay_In_Current_City_Years_2',
        'Stay_In_Current_City_Years_4+', 'Stay_In_Current_City_Years_3','Stay_In_Current_City_Years_1', 
        'Stay_In_Current_City_Years_0']]
y = df['Purchase']

In [17]:
!pip install dask_ml

Collecting dask_ml
  Downloading dask_ml-2022.1.22-py3-none-any.whl (148 kB)
Requirement already satisfied: distributed>=2.4.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (2021.3.0)
Collecting numba>=0.51.0
  Downloading numba-0.53.1-cp36-cp36m-win_amd64.whl (2.3 MB)
Collecting dask_ml
  Downloading dask_ml-2021.11.30-py3-none-any.whl (148 kB)
  Downloading dask_ml-2021.11.16-py3-none-any.whl (147 kB)
  Downloading dask_ml-2021.10.17-py3-none-any.whl (146 kB)
Requirement already satisfied: numpy>=1.17.3 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (1.19.5)
Collecting multipledispatch>=0.4.9
  Downloading multipledispatch-0.6.0-py3-none-any.whl (11 kB)
Collecting dask_ml
  Downloading dask_ml-1.9.0-py3-none-any.whl (143 kB)
Requirement already satisfied: scikit-learn>=0.23 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (0.23.2)
Requirement already satisfied: scipy in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (1.5.2)
Collecting dask-glm>=0.2.0
  Downloading dask_glm-0.2.0-py2.py3-none-any.whl (12 kB)
Requirement already satisfied: pandas>=0.24.2 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (1.1.5)
Requirement already satisfied: packaging in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (20.9)
Requirement already satisfied: dask[array,dataframe]>=2.4.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask_ml) (2021.3.0)
Requirement already satisfied: cloudpickle>=0.2.2 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask-glm>=0.2.0->dask_ml) (1.6.0)
Requirement already satisfied: pyyaml in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (5.4.1)
Requirement already satisfied: toolz>=0.8.2 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (0.11.2)
Requirement already satisfied: fsspec>=0.6.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (2021.6.0)
Requirement already satisfied: partd>=0.3.10 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from dask[array,dataframe]>=2.4.0->dask_ml) (1.2.0)
Requirement already satisfied: setuptools in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (59.6.0)
Requirement already satisfied: psutil>=5.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (5.8.0)
Requirement already satisfied: tblib>=1.6.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.7.0)
Requirement already satisfied: sortedcontainers!=2.0.0,!=2.0.1 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.3.0)
Requirement already satisfied: zict>=0.1.3 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.0.0)
Requirement already satisfied: tornado>=5 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (6.1)
Requirement already satisfied: contextvars in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (2.4)
Requirement already satisfied: msgpack>=0.6.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (1.0.3)
Requirement already satisfied: click>=6.6 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from distributed>=2.4.0->dask_ml) (7.1.2)
Requirement already satisfied: six in e:\anaconda3\envs\ml_3.6\lib\site-packages (from multipledispatch>=0.4.9->dask_ml) (1.15.0)
Collecting llvmlite<0.37,>=0.36.0rc1
  Downloading llvmlite-0.36.0-cp36-cp36m-win_amd64.whl (16.0 MB)
Requirement already satisfied: python-dateutil>=2.7.3 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from pandas>=0.24.2->dask_ml) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from pandas>=0.24.2->dask_ml) (2021.1)
Requirement already satisfied: joblib>=0.11 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from scikit-learn>=0.23->dask_ml) (1.0.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from scikit-learn>=0.23->dask_ml) (2.1.0)
Requirement already satisfied: pyparsing>=2.0.2 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from packaging->dask_ml) (2.4.7)
Requirement already satisfied: locket in e:\anaconda3\envs\ml_3.6\lib\site-packages (from partd>=0.3.10->dask[array,dataframe]>=2.4.0->dask_ml) (0.2.1)
Requirement already satisfied: heapdict in e:\anaconda3\envs\ml_3.6\lib\site-packages (from zict>=0.1.3->distributed>=2.4.0->dask_ml) (1.0.1)
Requirement already satisfied: immutables>=0.9 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from contextvars->distributed>=2.4.0->dask_ml) (0.16)
Requirement already satisfied: typing-extensions>=3.7.4.3 in e:\anaconda3\envs\ml_3.6\lib\site-packages (from immutables>=0.9->contextvars->distributed>=2.4.0->dask_ml) (3.7.4.3)
Installing collected packages: multipledispatch, llvmlite, numba, dask-glm, dask-ml
Successfully installed dask-glm-0.2.0 dask-ml-1.9.0 llvmlite-0.36.0 multipledispatch-0.6.0 numba-0.53.1

WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -ip (e:\anaconda3\envs\ml_3.6\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (e:\anaconda3\envs\ml_3.6\lib\site-packages)

In [18]:
from dask_ml.model_selection import train_test_split

In [19]:
X_train, X_test, y_train, y_test = train_test_split(x, y, random_state=1)

In [20]:
len(X_train), len(X_test), len(y_train), len(y_test)

(495061, 55007, 495061, 55007)

### Dask LR

In [21]:
training_x = X_train.values
training_y = y_train.values

In [22]:
testing_x = X_test.values
testing_y = y_test.values

In [23]:
import numpy as np
from sklearn.metrics import mean_squared_error

In [24]:
def rmse(preds, actuals):
    error = mean_squared_error(actuals, preds)
    rmse = np.sqrt(error)
    print(rmse)

In [25]:
from dask_ml.linear_model import LinearRegression
lr = LinearRegression(random_state=1, n_jobs=-1)
lr.fit(training_x,training_y)

LinearRegression(n_jobs=-1, random_state=1)

In [26]:
preds= lr.predict(training_x)
rmse(preds, training_y)

4624.266265525379

In [27]:
preds_test= lr.predict(testing_x)
rmse(preds_test, testing_y)

4624.036261865467