---
---

<center><h1>üìç üìç Subsetting: Label Based üìç üìç</h1></center>

---


### `TABLE OF CONTENTS`

- How to select rows using the label of the index?
- Difference between loc and iloc  
  

---

####  `READ THE DATA`

- In this notebook, we are going to use the big mart sales data that we have used previously. It is stored in the folder name `datasets`.
---

In [1]:
# import the pandas library
import pandas as pd

In [2]:
# read the big mart sales data
data = pd.read_csv('datasets/big_mart_sales.csv')

In [ ]:
data.head(6)

In [4]:
# set the Item_Identifier as the index of the dataframe.
data.set_index('Item_Identifier',inplace=True, drop=True)

In [ ]:
data.head()

#### `HOW TO SELECT ROWS USING THE LABEL OF THE INDEX?`

---

In [ ]:
# select rows with index value 'FDA03'
data.loc['FDA15']

In [5]:
data.loc[['FDA15', 'FDA03']]

,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
Item_Identifier,,,,,,,,,,,
FDA15,9.3,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
FDA15,9.3,Low Fat,0.016055,Dairy,250.2092,OUT045,2002,NaN,Tier 2,Supermarket Type1,5976.2208
FDA15,9.3,Low Fat,0.016019,Dairy,248.5092,OUT035,2004,Small,Tier 2,Supermarket Type1,6474.2392
FDA15,9.3,Low Fat,0.016088,Dairy,249.6092,OUT018,2009,Medium,Tier 3,Supermarket Type2,5976.2208
FDA15,9.3,Low Fat,0.026818,Dairy,248.9092,OUT010,1998,NaN,Tier 3,Grocery Store,498.0184
FDA15,9.3,Low Fat,0.016009,Dairy,250.6092,OUT013,1987,High,Tier 3,Supermarket Type1,6474.2392
FDA15,NaN,Low Fat,0.015945,Dairy,249.5092,OUT027,1985,Medium,Tier 3,Supermarket Type3,6474.2392
FDA15,9.3,LF,0.016113,Dairy,248.8092,OUT017,2007,NaN,Tier 2,Supermarket Type1,5976.2208
FDA03,18.5,Regular,0.045464,Dairy,144.1102,OUT046,1997,Small,Tier 1,Supermarket Type1,2187.1530
FDA03,NaN,Regular,0.045244,Dairy,146.8102,OUT027,1985,Medium,Tier 3,Supermarket Type3,3499.4448
FDA03,18.5,Regular,0.000000,Dairy,144.2102,OUT035,2004,Small,Tier 2,Supermarket Type1,2041.3428
FDA03,18.5,Regular,0.076097,Dairy,145.8102,OUT010,1998,NaN,Tier 3,Grocery Store,291.6204
FDA03,18.5,Regular,0.045426,Dairy,144.9102,OUT013,1987,High,Tier 3,Supermarket Type1,1895.5326
FDA03,18.5,Regular,0.045534,Dairy,146.3102,OUT049,1999,Medium,Tier 1,Supermarket Type1,3645.2550

#### `HOW TO SELECT ROWS & COLUMNS USING THE LABEL OF THE INDEX?`

---

In [ ]:
data.loc[['FDA15', 'FDA03'], 'Item_Fat_Content']

In [6]:
data.loc[['FDA15', 'FDA03'], ['Item_Fat_Content', 'Item_Type', 'Item_MRP']]

                Item_Fat_Content Item_Type  Item_MRP
Item_Identifier
FDA15                    Low Fat     Dairy  249.8092
FDA15                    Low Fat     Dairy  250.2092
FDA15                    Low Fat     Dairy  248.5092
FDA15                    Low Fat     Dairy  249.6092
FDA15                    Low Fat     Dairy  248.9092
FDA15                    Low Fat     Dairy  250.6092
FDA15                    Low Fat     Dairy  249.5092
FDA15                         LF     Dairy  248.8092
FDA03                    Regular     Dairy  144.1102
FDA03                    Regular     Dairy  146.8102
FDA03                    Regular     Dairy  144.2102
FDA03                    Regular     Dairy  145.8102
FDA03                    Regular     Dairy  144.9102
FDA03                    Regular     Dairy  146.3102



---

#### `DIFFERENCE BETWEEN LOC AND ILOC`

---

***Let's create a sample dataframe***

---

In [7]:
sample_df = pd.DataFrame({
    'gender' : ['M', 'F', 'M', 'M', 'F'],
    'grade'  : ['A', 'A', 'B', 'B', 'A'],
    'marks'  : [ 22,  21,  12,  14,  20],
    'id'     : ['A101', 'A102', 'A103', 'A104', 'A105']
})
sample_df

  gender grade  marks    id
0      M     A     22  A101
1      F     A     21  A102
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

---

***Now, when we define a dataframe by default the index is a range of numbers. Let's see what happens if try to slice the dataframe using both `loc` and `iloc`***

---

In [12]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [13]:
sample_df.iloc[2:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102

---

- When we try to slice the dataframe using the `loc` function on `range(2 to 4)` it first finds out the index with a `label 2` and goes till it finds the index with a `label 4`. 
- On the other hand, when we try to silce the dataframe using the `iloc` function on `range(2 to 4)` it starts with the `starting point index 2` and goes till `end point - 1 which is 3`.

---


***Let's verify this by sorting the dataframe by marks column.***

---

In [9]:
sample_df = sample_df.sort_values(by=['marks'])
sample_df

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105
1      F     A     21  A102
0      M     A     22  A101

---

***Now that we have sorted the dataframes, the indices are shuffled accordingly. Let's try to slice the dataframes again.***

---

In [10]:
sample_df.loc[2:4]

  gender grade  marks    id
2      M     B     12  A103
3      M     B     14  A104
4      F     A     20  A105

In [11]:
sample_df.iloc[2:4]

  gender grade  marks    id
4      F     A     20  A105
1      F     A     21  A102

----

- You can see that when we tried to slice the dataframe using the `loc` function it finds out the name of start and end point and slice the data whereas `iloc` still gives the 2nd and 3rd value of the dataframe.

----

***Let's change the index of the dataframe to a categorical variable.***

---

In [ ]:
sample_df.set_index('id',inplace=True)
sample_df

---

***Now, try to slice the dataframe using the loc and iloc function.***

---

In [ ]:
sample_df.iloc[2:4]

In [ ]:
sample_df.loc[2:4]

***Now, we got an error because no index was with the name 2 and 4 in the dataframe.***

---

In [ ]:
sample_df.loc['A104':'A102']

---