In [1]:
#importing the libraries
import pandas as pd

In [2]:
#reading the file
data = pd.read_csv('datasets\missing_value_ratio.csv')

In [3]:
# first 5 rows of the data
data.head(10)

,ID,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,count
0,AB101,1.0,0.0,0.0,1.0,9.84,14.395,81.0,NaN,16
1,AB102,1.0,NaN,0.0,NaN,9.02,13.635,80.0,NaN,40
2,AB103,1.0,0.0,NaN,1.0,9.02,13.635,80.0,NaN,32
3,AB104,NaN,0.0,NaN,1.0,9.84,14.395,75.0,NaN,13
4,AB105,1.0,NaN,0.0,NaN,9.84,14.395,NaN,16.9979,1
5,AB106,1.0,0.0,NaN,2.0,9.84,12.880,75.0,NaN,1
6,AB107,1.0,0.0,0.0,1.0,9.02,13.635,80.0,NaN,2
7,AB108,1.0,NaN,0.0,1.0,8.20,12.880,86.0,NaN,3
8,AB109,NaN,0.0,0.0,NaN,9.84,14.395,NaN,NaN,8
9,AB110,1.0,0.0,0.0,1.0,13.12,17.425,76.0,NaN,14

In [4]:
#shape of the data
data.shape

(12980, 10)

In [5]:
data.shape[1]

10

In [6]:
#number of missing values in each variable
data.isnull().sum()

ID               0
season           9
holiday       6295
workingday       9
weather          4
temp             0
atemp            0
humidity         5
windspeed     5324
count            0
dtype: int64

In [7]:
len(data)

12980

In [8]:
# percentage of missing values in each variable
data.isnull().sum()/len(data)*100

ID             0.000000
season         0.069337
holiday       48.497689
workingday     0.069337
weather        0.030817
temp           0.000000
atemp          0.000000
humidity       0.038521
windspeed     41.016949
count          0.000000
dtype: float64

In [9]:
data.isnull().sum()/data.shape[0]*100

ID             0.000000
season         0.069337
holiday       48.497689
workingday     0.069337
weather        0.030817
temp           0.000000
atemp          0.000000
humidity       0.038521
windspeed     41.016949
count          0.000000
dtype: float64

In [10]:
# saving missing values in a variable
a = data.isnull().sum()/len(data)*100

In [11]:
# saving column names in a variable
variables = data.columns

In [12]:
# new variable to store variables having missing values less than a threshold
variable = [ ]
for i in range(data.columns.shape[0]):
    if a[i]<=40:   #setting the threshold as 40%
        variable.append(variables[i])

In [13]:
variable

['ID', 'season', 'workingday', 'weather', 'temp', 'atemp', 'humidity', 'count']

In [14]:
# creating a new dataframe using the above variables
new_data = data[variable]

In [15]:
# first five rows of the new data
new_data.head()

      ID  season  workingday  weather  temp   atemp  humidity  count
0  AB101     1.0         0.0      1.0  9.84  14.395      81.0     16
1  AB102     1.0         0.0      NaN  9.02  13.635      80.0     40
2  AB103     1.0         NaN      1.0  9.02  13.635      80.0     32
3  AB104     NaN         NaN      1.0  9.84  14.395      75.0     13
4  AB105     1.0         0.0      NaN  9.84  14.395       NaN      1

In [16]:
# percentage of missing values in each variable of new data
new_data.isnull().sum()/len(new_data)*100

ID            0.000000
season        0.069337
workingday    0.069337
weather       0.030817
temp          0.000000
atemp         0.000000
humidity      0.038521
count         0.000000
dtype: float64

In [17]:
# shape of new and original data
new_data.shape, data.shape

((12980, 8), (12980, 10))