### Loading the dataset

In [2]:
import pandas as pd
import numpy as np

In [3]:
bigmart = pd.read_csv('datasets\FErain_bm.csv')

In [7]:
bigmart.head(10)

,Item_Identifier,Item_Weight,Item_Fat_Content,Item_Visibility,Item_Type,Item_MRP,Outlet_Identifier,Outlet_Establishment_Year,Outlet_Size,Outlet_Location_Type,Outlet_Type,Item_Outlet_Sales
0,FDA15,9.300,Low Fat,0.016047,Dairy,249.8092,OUT049,1999,Medium,Tier 1,Supermarket Type1,3735.1380
1,DRC01,5.920,Regular,0.019278,Soft Drinks,48.2692,OUT018,2009,Medium,Tier 3,Supermarket Type2,443.4228
2,FDN15,17.500,Low Fat,0.016760,Meat,141.6180,OUT049,1999,Medium,Tier 1,Supermarket Type1,2097.2700
3,FDX07,19.200,Regular,0.000000,Fruits and Vegetables,182.0950,OUT010,1998,NaN,Tier 3,Grocery Store,732.3800
4,NCD19,8.930,Low Fat,0.000000,Household,53.8614,OUT013,1987,High,Tier 3,Supermarket Type1,994.7052
5,FDP36,10.395,Regular,0.000000,Baking Goods,51.4008,OUT018,2009,Medium,Tier 3,Supermarket Type2,556.6088
6,FDO10,13.650,Regular,0.012741,Snack Foods,57.6588,OUT013,1987,High,Tier 3,Supermarket Type1,343.5528
7,FDP10,NaN,Low Fat,0.127470,Snack Foods,107.7622,OUT027,1985,Medium,Tier 3,Supermarket Type3,4022.7636
8,FDH17,16.200,Regular,0.016687,Frozen Foods,96.9726,OUT045,2002,NaN,Tier 2,Supermarket Type1,1076.5986
9,FDU28,19.200,Regular,0.094450,Frozen Foods,187.8214,OUT017,2007,NaN,Tier 2,Supermarket Type1,4710.5350

In [8]:
data = bigmart[['Item_Visibility', 'Item_MRP','Item_Weight']]
data.head()

   Item_Visibility  Item_MRP  Item_Weight
0         0.016047  249.8092         9.30
1         0.019278   48.2692         5.92
2         0.016760  141.6180        17.50
3         0.000000  182.0950        19.20
4         0.000000   53.8614         8.93

## Min Max Scaler

<img src = "min max formula.png">

In [5]:
from sklearn.preprocessing import MinMaxScaler

In [9]:
scaler = MinMaxScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP','Item_Weight'])
scaled_data.head()

   Item_Visibility  Item_MRP  Item_Weight
0         0.048866  0.927507     0.282525
1         0.058705  0.072068     0.081274
2         0.051037  0.468288     0.770765
3         0.000000  0.640093     0.871986
4         0.000000  0.095805     0.260494

In [10]:
scaled_data.describe()

       Item_Visibility     Item_MRP  Item_Weight
count      8523.000000  8523.000000  7060.000000
mean          0.201382     0.465635     0.494352
std           0.157123     0.264327     0.276479
min           0.000000     0.000000     0.000000
25%           0.082187     0.265437     0.251191
50%           0.164228     0.474209     0.479012
75%           0.288026     0.655156     0.732063
max           1.000000     1.000000     1.000000

## Standard Scaler

<img src = "standard scaler formula.png">

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
scaler = StandardScaler()
scaled_data = scaler.fit_transform(data)
scaled_data = pd.DataFrame(scaled_data, columns=['Item_Visibility', 'Item_MRP'])
scaled_data.head()

In [ ]:
scaled_data.describe()